@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');

.title1{
    /* color: white; */
    /* font-weight: bold; */
    font-size: 30px;
    font-family: 'Ultra', serif;
    margin-left: 20px;
    /* margin-bottom: 14px; */
}

.btn-xxl {
    height: 100px;
    width: 270px;
    background-color: #e6ac00;
    color: black;
    font-weight: bold;
    font-size: 25px;
}

.btn-xxl:hover {
    font-weight: 1000;
    background-color: #e6ac00;
}

.btn-xxl:focus {
    background-color: #e6ac00;
}

.btn-logger {
    background-color: #e6ac00;
    margin-left: 150px;
    width: 150px;
    height: 60px;
    color: black;
    font-weight: bold;
}

.btn-logger:hover {
    font-weight: 1000;
    background-color: #e6ac00;
}

.btn-logger:focus {
    background-color: #e6ac00;
}

.button1 {
    float: left;
    margin-left: 200px;
}

.button2 {
    float: right;
    margin-right: 200px;
}

h4 {
    font-weight: bold;
}